.header {
    border: 3px solid rgb(192, 226, 43);
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    background-color: aqua;
    font-size: 175%
}

h1 {
    color: rebeccapurple;
}

h3 {
    color: rgb(218, 4, 200);
}

ul {
    border: 3px dashed rgb(192, 226, 43);
    margin: 15px auto;
    width: 350px;
    padding: 15px;
    background-color: #FF9999;
}

li {
    color:rgb(218, 4, 200);
    background-color: rgb(192, 226, 43);
    padding: 5px;
    align-items: center;
    list-style-position: inside;
    font-size: 200%;
}

.footerGrass {
    height: 100%;
    width: 100%;
}

.flexContainer {
    border: 3px solid blueviolet;
    background-color:rgb(218, 4, 200);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxFormat {
    border: 3px dotted rgb(9, 214, 118);
    background-color: rgba(203, 218, 5, 0.838);
    padding: 15px;
}

.flexTwo {
    width: 100px;
    height: 150px;
}